* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.scroller {
  display: grid;
  gap: 1rem;
  /* set flow of grid to be columns instead of rows */
  grid-auto-flow: column;
  /* make each column 25% of page width. We use auto-columns not
      template-columns because we want a variable amount of scroller
      elements */
  grid-auto-columns: 22%;

  padding: 0 1rem 1rem;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.scroller-element {
  display: grid;
  /* setting the template rows to min content sets the first
      rows size to the minimum size to accommodate possible longer titles
      and make sure the titles are aligned nicely */
  grid-template-rows: min-content;
  gap: 0.5rem;
  padding: 1rem;
  background: rgb(192, 192, 192);
  border-radius: 5px;
  box-shadow: 0.1rem 0.1rem 0.5rem -0.1rem rgb(148, 146, 146);
}

.scroller-element > img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

/* ----- slider css ----- */
/* https://www.youtube.com/watch?v=yq4BeRtUHbk */
.slider {
  display: grid;
  gap: 1rem;
  /* set flow of grid to be columns instead of rows */
  grid-auto-flow: column;
  /* make each column 25% of page width. We use auto-columns not
      template-columns because we want a variable amount of scroller
      elements */
  grid-auto-columns: calc(25% - 1rem);

  padding: 0 1rem 1rem;
}
