.nav-bar > ul {
  display: flex;
  justify-content: space-evenly;
}

.nav-bar > ul > li {
  list-style: none;
}

.dropdown::after {
  content: ' ⬇️';
}

.hidden {
  display: none;
}

.dropdown-items {
  list-style: none;
  position: absolute;
  /* top: 50px;
  right: 150px; */
}
